@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
:root {
  --main-color: rgb(245, 245, 245);
  --border-color: #cfcece;
  --error-color: red;
  --button-color: rgb(38, 168, 38);
  --button-hover-color: green;
  --white-color: white;
  --font--color: #333;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  font-family: "Roboto", sans-serif;
  color: var(--font--color);
}
.container {
  width: 60%;
  margin: auto;
  margin-top: 3%;
  border: none;
  border-radius: 15px;
  background-color: var(--main-color);
  box-shadow: 3px 3px 5px var(--border-color);
  border-left: 1px solid var(--border-color);
  border-top: 1px solid var(--border-color);
}
.container h3 {
  margin-bottom: 7%;
  padding-top: 5%;
  text-align: center;
  font-size: 30px;
}

form {
  width: 100%;
  margin: auto;
  padding: 2% 3% 5%;
  display: flex;
}
.form_left {
  width: 60%;
  padding: 0 3%;
  border-right: 1px solid var(--border-color);
}
.form_right {
  width: 40%;
  padding: 0 0 0 3%;
  text-align: center;
}
.form_right img {
  width: 80%;
  height: 248px;
}
form .form_control {
  width: 100%;
  margin-bottom: 5%;
}
form input {
  width: 100%;
  height: 35px;
  margin: 2% 0 1%;
  padding-left: 10px;
  border: 1px solid;
  border-radius: 3px;
  color: var(--font--color);
  font-size: 17px;
}
form #avatar {
  border: none;
}
form button {
  width: 50%;
  height: 40px;
  margin: 5% 25% 3%;
  border: 0;
  border-radius: 5px;
  background-color: var(--button-color);
  font-size: 17px;
  color: var(--white-color);
}
form button:hover {
  background-color: var(--button-hover-color);
}
.avatar {
  padding: 5px 20px;
  border: 1px solid var(--border-color);
  border-radius: 50px;
  background-color: var(--border-color);
}
.file {
  margin-top: 7%;
}
.error {
  color: var(--error-color);
}
#avatar-error {
  display: block;
}
#msg_error {
  margin-top: 2%;
  display: none;
}
